.dropdown-toggle-no-caret::after {
    display: none;
}

.dropdown-toggle-no-caret {
    margin-left: 1em;
}

.nav-link {
    color: White;
}

.table-full-width {
    width: 100%;
    table-layout: fixed;
}

div.card-block {
	overflow: scroll;
}

div.card-block table {
        width: 100%;
        border-collapse: collapse;
}

div.card-block p ~ br, pre br {
	display: none;
}

pre {
	line-height: 1em;
}

div.card-block p {
	margin-bottom: 0;
}

